button {
    background-color: white;
  
    border: 1px solid black;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    transition-duration: 0.4s;
    overflow: hidden;
    margin-left: 5px;
    /* cursor: not-allowed; */
  }
  
  #deletebutton:hover {
    background-color: red;
  }
  
  button:hover {
    background-color: #081D26;
    color: white;
  }

