@import '../styles/input_text.css';
@import '../styles/grid.css';
@import '../styles/buttons_askforhelp.css';
@import '../styles/buttons_emoji.css';
@import '../styles/buttons_normal.css';
@import '../styles/input_text.css';
@import '../styles/student_cards.css';

@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

@media only screen and (max-width: 1000px) {
  #white {
    display: none;
  }
}

body {
  padding-top: 50px;
  padding-bottom: 100px !important;
  background-color: #1A485C !important;
  color: white !important;
  color: white !important
}

p {
  font-family: "Nunito";
  color: white;
  font-size: 14;
}

h2 {
  color: white;
  font-family: "Nunito";
  user-select: none;
}

h2 {
  color: grey;
}

a {
  font-family: "Nunito";
}

#mainview {
  justify-content: center;
  
}



.footertext {
  color: #40819d;
  user-select: none;
}

.linker {
  display: flex;
  font-size: 25px;
  margin: auto;
  justify-content: center;
}

a:hover {
  color:cadetblue !important;
}
a:visited {
  color:lightblue;
}

a:link {
  color:lightblue;
}

.svartramme {
  border: solid 2px;
  background-color:#081D26;
  border-color: #40819d;
  margin-bottom: 20px;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

#centerme {
  justify-content: center;
  margin: auto;
}




.overskrift1 {
  font-size: 35px;
  display: flex;
  justify-content: center;
  
  user-select: none;
}

.overskrift2 {
  font-size: 30px;
  display: flex;
  justify-content: center;
  user-select: none;
  color:rgb(238, 249, 255);
  padding-top:80px;
  padding-bottom: 20px;
}

.overskrift3 {
  font-size: 35px;
  display: flex;
  justify-content: center;
  user-select: none;
  color:rgb(255, 255, 255);
  padding-top:80px;
  padding-bottom: 20px;
}

.overskrift4 {
  font-size: 30px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  user-select: none;
  color:rgb(255, 255, 255);
  padding-top:20px;
}

.title {
  user-select: none;
}

.bjellenavn {
  display: flex;
  justify-content: center;
  padding-top: 0px;
  align-items:baseline;
  margin:auto;
  padding-right: 55px;
}

.paddingtop {
  padding-bottom: 160px;
}