/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

#container2 {
  background-color: pink;
  border-style: solid;
  border-width: 3px;
  width: 100px;
  height: 100px;
}*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');



body {
  background-color: aliceblue;
  margin: 0px;
  padding: 0px;

  font-family: 'Roboto';
}

p {
  margin: 0px;
  padding: 0px;
}

.input-field {
  display: flex;
  height: 100px;
  width: 50px;
}

.emoji {
  width: 100%;
  height: 100px;
  margin-top: 5px;
}

.emoji-container {
  text-align: center;
}

img {
  user-select: none;
}
img:hover {
  height: 103px;
  width: 103px;
  border: 0px;
  border-style:solid;
  border-color:black
}
img:active {
  animation: rotate 1s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg);
  }
}






.container_header {
  width: 100%;
  height: 20vmax;
  padding: 0px;
  padding-top: 0px;
  background-color: lightblue;
  margin: 0px;
} 

.header_title {
  height: 10vmax;
}

h1 {
  margin: 0;
  text-align: center;
  padding-top: 9vmax;
  user-select: none;
}

.student-card {
  flex-basis: 225px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 13px;
  padding-bottom: 20px;
  background-color: white;
}

.img-student-card {
  height: 50px;
  width: 50px;
}