@import '../styles/input_text.css';
@import '../styles/grid.css';
@import '../styles/buttons_askforhelp.css';
@import '../styles/buttons_emoji.css';
@import '../styles/buttons_normal.css';
@import '../styles/input_text.css';
@import '../styles/student_cards.css';

@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

@media only screen and (max-width: 1000px) {
  #white {
    display: none;
  }
}

body {
  padding-top: 180px;
  background-color: #1A485C !important;
  color: white !important;
  /* Denne senker all content så det begynner under  */
  color: white !important
}

p {
  font-family: "Nunito";
  color: white;
  font-size: 14;
}

h2 {
  color: white;
  font-family: "Nunito";
  user-select: none;
}

h2 {
  color: grey;
}

a {
  font-family: "Nunito";
}