.navbar {
    border-bottom: 2px solid #143847;
    background-color: #081D26;
}

.nav-link {
    border-radius: 15px;
    font-size: 20px !important;
}

.nav-link:hover {
    background-color: #ffffff;
}

.title {
    display: inline-block;
    font-size: 50px;
}

.questionmark {
    display: inline-block;
    font-size: 60px;
    color:#0e2f3d;
}