.container_header {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 15vmax;
    padding: 0px;
    padding-top: 0px;
    background-color: #081D26;
    margin: 0px;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 20px;    
    border-top-left-radius: 20px;
  } 

.headertext {
  display: flex;
}

  h1 {
    margin: 0;
    text-align: center;
    user-select: none;
    color:white;
    font-size: 5vh;
  }

  .navbar {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #081D26;
    border-bottom: solid white 2px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }



  @media only screen and (max-width: 1000px) {
    .headerimages {
      display:none;
    }
  }