.navbar {
    border-bottom: 2px solid #143847;
    background-color: #081D26;
}

.nav-link {
    border-radius: 5px;
}

.nav-link:hover {
    background-color: #1A485C;
}

.title {
    display: inline-block;
    font-size: 50px;
}

.questionmark {
    display: inline-block;
    font-size: 60px;
    color:#1A485C;
}