/* .input-field {
    display: flex;
    height: 100px;
    width: 50px;
  } */
  /* Hmm, har glemt hva denne brukes til ... */




  input {
    width: 90%;
    padding: 10px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border-bottom: 2px solid aliceblue;
    background-color: aliceblue;
    color: black;
    font-family: 'Nunito'
  }
  
  input[type=text]:focus {
    background-color: lightblue;
  }
  
  button {
    background-color: white;
    border: 2px solid lightblue;
  
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 0.4s;
    overflow: hidden;
    margin-left: 5px;
  
    /* cursor: not-allowed; */
  }
  
  button:hover {
    background-color: lightblue;
  
  }